In [14]:
import os

DATA_FOLDER = '../00_data'
FIGURE_FOLDER = '../04_figures'

notebook_name = '000_make_csv_gzips'

data_folder = os.path.join(DATA_FOLDER, notebook_name)
figure_folder = os.path.join(FIGURE_FOLDER, notebook_name)

print('Data folder for notebook:', data_folder)
print('Figure folder for notebook:', figure_folder)

! mkdir -p $figure_folder
! mkdir -p $data_folder

Data folder for notebook: ../00_data/000_make_csv_gzips
Figure folder for notebook: ../04_figures/000_make_csv_gzips

## Read counts for random 10% subset

In [41]:
import pandas as pd

counts_10percent = pd.read_table(
    '/Users/olgabot/googledrive/batch-effect-comparison/Data/10percentCellSubset_allgenes.txt', index_col=0, 
    sep='\s+')
print(counts_10percent.shape)
counts_10percent.head()

(60725, 1330)

,c697,c994,c583,c24,c346,c421,c681,c65,c524,c993,...,c12529,c13099,c12764,c12671,c12752,c12559,c12835,c12593,c12777,c12744
TSPAN6,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TNMD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DPM1,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
SCYL3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
C1orf112,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Write to CSV

In [42]:
csv = os.path.join(data_folder, '10percentCellSubset_allgenes.csv')
counts_10percent.to_csv(csv)

In [43]:
ls -lh $data_folder

total 325656
-rw-r--r--  1 olgabot  staff   155M Sep 25 15:22 10percentCellSubset_allgenes.csv
-rw-r--r--  1 olgabot  staff   4.1M Sep 25 15:16 10percentCellSubset_allgenes.csv.zip
-rw-r--r--  1 olgabot  staff   106K Sep 25 15:18 10percentCellSubset_meta.csv
-rw-r--r--  1 olgabot  staff   106K Sep 25 15:19 AllCells_metadata.csv

In [44]:
ls -lh $data_folder

total 325656
-rw-r--r--  1 olgabot  staff   155M Sep 25 15:22 10percentCellSubset_allgenes.csv
-rw-r--r--  1 olgabot  staff   4.1M Sep 25 15:16 10percentCellSubset_allgenes.csv.zip
-rw-r--r--  1 olgabot  staff   106K Sep 25 15:18 10percentCellSubset_meta.csv
-rw-r--r--  1 olgabot  staff   106K Sep 25 15:19 AllCells_metadata.csv

## Read metadata for randomly generated 10% subset

In [45]:
metadata_10percent = pd.read_table(
    '/Users/olgabot/googledrive/batch-effect-comparison/Data/10percentCellSubset_meta.txt', index_col=1, sep='\s+')
print(metadata_10percent.shape)
metadata_10percent.head()

(1330, 2)

      Cell  Batch
c699   699      1
c996   996      1
c585   585      1
c26     26      1
c348   348      1

In [46]:
 csv = os.path.join(data_folder, '10percentCellSubset_meta.csv')
metadata_10percent.to_csv(csv)

In [47]:
ls -lh $data_folder

total 325480
-rw-r--r--  1 olgabot  staff   155M Sep 25 15:22 10percentCellSubset_allgenes.csv
-rw-r--r--  1 olgabot  staff   4.1M Sep 25 15:16 10percentCellSubset_allgenes.csv.zip
-rw-r--r--  1 olgabot  staff    17K Sep 25 15:22 10percentCellSubset_meta.csv
-rw-r--r--  1 olgabot  staff   106K Sep 25 15:19 AllCells_metadata.csv

## Read metadata for entire dataset

In [48]:
metadata_allcells = pd.read_table('/Users/olgabot/googledrive/batch-effect-comparison/Data/AllCells_metadata.txt', 
                                  index_col=0, sep='\s+')
print(metadata_allcells.shape)
metadata_allcells.head()

(13300, 1)

      Batch
Cell
c1        1
c2        1
c3        1
c4        1
c5        1

In [49]:
csv = os.path.join(data_folder, 'AllCells_metadata.csv')
metadata_allcells.to_csv(csv)

In [50]:
ls -lh $data_folder

total 325480
-rw-r--r--  1 olgabot  staff   155M Sep 25 15:22 10percentCellSubset_allgenes.csv
-rw-r--r--  1 olgabot  staff   4.1M Sep 25 15:16 10percentCellSubset_allgenes.csv.zip
-rw-r--r--  1 olgabot  staff    17K Sep 25 15:22 10percentCellSubset_meta.csv
-rw-r--r--  1 olgabot  staff   106K Sep 25 15:22 AllCells_metadata.csv

## Zip the files so they're smaller

In [51]:
import glob

csvs = glob.glob(os.path.join(data_folder, '*.csv'))
for csv in csvs:
    ! zip $csv\.zip $csv

updating: ../00_data/000_make_csv_gzips/10percentCellSubset_allgenes.csv (deflated 97%)
  adding: ../00_data/000_make_csv_gzips/10percentCellSubset_meta.csv (deflated 63%)
  adding: ../00_data/000_make_csv_gzips/AllCells_metadata.csv (deflated 73%)